<ion-tabs>
  <ion-tab [root]="tab1Root" [tabTitle]="tab1Title" tabIcon="md-refresh"></ion-tab>
  <ion-tab [root]="tab2Root" [tabTitle]="tab2Title" tabIcon="ios-cube-outline"></ion-tab>
  <ion-tab [root]="tab3Root" [tabTitle]="tab3Title" tabIcon="ios-bulb-outline"></ion-tab>
  <ion-tab [root]="tab4Root" [tabTitle]="tab4Title" tabIcon="ios-map-outline"></ion-tab>
</ion-tabs>
