<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Recicle  RE7</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid class="main-grid">
    <ion-row class="main-row" >
      <ion-col  col-6 class="col-left">
        <span>Última Coleta</span>
        <div class="main-number" >07/02</div>
      </ion-col>
      <ion-col  col-6 class="col-right">
        <span>Seus Pontos</span>
        <div class="main-number">{{pointsNumber}}</div>
      </ion-col>
    </ion-row>
    <ion-row class="content-row">

    </ion-row>
    <ion-row class="central-btn">
      <button ion-button outline (click)="openQrCodePage()">
        Liberar Container
      </button>
    </ion-row>
  </ion-grid>
</ion-content>
