<ion-header>

  <ion-navbar>
    <ion-title>Coletar Material</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row>
    <ion-col text-center>
      <div *ngIf="isLoading; else GiveYouPoints" class="loading">
          <ion-spinner color="primary"></ion-spinner>

          <div class="item-detail" padding>
            <h4>Container Liberado</h4>
            <p>Aguardando Depositar Reciclável</p>
          </div>
      </div>
      <ng-template #GiveYouPoints>
        <h3>Parabéns Você Ganhou +10 Pontos!</h3>
      </ng-template>
     
    </ion-col>
  </ion-row>
  
</ion-content>
