<!--
  Generated template for the CollectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Scan to </ion-title>
  </ion-navbar>

</ion-header>


<ion-content [class.scanclose]="scanclose">
</ion-content>
